<ion-header no-border>
  <ion-navbar color="danger" no-border>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-tabs padding color="danger">
      <ion-tab tabIcon="lock" tabTitle="SSH" [root]="SSHPage"></ion-tab>
      <ion-tab tabIcon="key" tabTitle="VPN" [root]="VPNPage"></ion-tab>
      <ion-tab tabIcon="cloud" tabTitle="Server" [root]="VPNPage" *ngIf="user?.role == 'admin'"></ion-tab>
  </ion-tabs>

  <ion-fab right bottom>
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" *ngIf="user?.role == 'admin'"> <ion-icon name="cloud"></ion-icon></button>
      <button ion-fab color="primary" ><ion-icon name="lock"></ion-icon></button>
      <button ion-fab color="secondary"><ion-icon name="key"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
